<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">
    <h2 class="footer-heading">{{ site.title | escape }}</h2>
    
      <div class="footer-row" >
        <div class="footer-col-wrapper">
          <div class="footer-contact">
            {%- if site.author %}
              <ul class="contact-list" style="margin:0">
                {% if site.author.name -%}
                  <li class="p-name">{{ site.author.name | escape }}</li>
                {% endif -%}
                {% if site.author.email -%}
                <li>{{ site.author.email }}</li>
                {%- endif %}
                <p style="margin:0"> {{ site.post }} </p>
              </ul>
            {%- endif %}
          </div>
        </div>  
      </div>

      <div class="footer-row-logos" >
        <div class="col-xs-7 footer-logos">
          <img class="footer-logo-images" src="/assets/images/footerlogos/UofG keyline boxed marque for digital.png" alt="UofG_logo" />
        </div>
        <div class="col-xs-7 footer-logos" >
          <img class="footer-logo-images" src="/assets/images/footerlogos/INTF_Logo_rgb.png" alt="INTF_Logo_rgb" />
        </div>
        <div class="col-xs-7 footer-logos">
          <img class="footer-logo-images" src="/assets/images/footerlogos/IRC LOGO_RGB.jpg" alt="IRC_logo_rgb" />
        </div>
        <div class="col-xs-7 footer-logos">
          <img class="footer-logo-images" src="/assets/images/footerlogos/LOGO_ERC_cropped.jpg" alt="ERC_logo_rgb" />
        </div>
        <div class="col-xs-7 footer-logos" style="max-width:8%" >
          <img class="footer-logo-images" src="/assets/images/footerlogos/ADAPT_Logo_CMYK.png" alt="adapt_logo_cmyk" />
        </div>
        <div class="col-xs-7 footer-logos" style="max-width:8%" >
          <img class="footer-logo-images" src="/assets/images/footerlogos/dcu.png" alt="dcu"/>
        </div>
      </div>

  </div>

</footer>