
.tint_green_heading_1 { font-family: "Candara"; font-size: 40px; color: #15808e; }
.tint_green_heading_2 { font-family: "Candara"; font-size: 32px; color: #15808e; }
.tint_green_heading_3 { font-family: "Candara"; font-size: 20px; color: #15808e; }
.tint_green_text { font-family: "Candara"; font-size: 18px; color: #15808e; }
.tint_orange_text { font-family: "Candara"; font-size: 18px; color: #c35e3d; }

/** Site footer */
.site-footer { border-top: 1px solid #e8e8e8; padding: 15px 0; }

.footer-info { display: flex;}
.footer-row {
              margin-right: 0; }

.footer-heading { font-size: 18px; margin-bottom: 10px; }

.footer-contact {
	              width:calc(100% - (30px / 2));
				  font-size: 13px;
				  padding: 0;}

.footer-logos {
	                display: flex;
	                flex-direction: row;
	                flex-wrap: wrap;
	                justify-content: space-evenly;
                  align-items: center;
              }

.footer-logo {

  max-width: 120px;
  max-height: 40px;

	            padding: 10px;
				      align-self: flex-end;
              display: flex;
              }

.footer-logo-images {
  object-fit: contain;
	                 max-width: 100%;  }

header .wrapper {display: flex;
          justify-content: space-between;
          align-items: center;}

header .wrapper::after {content: unset}
