
/*
footer.row{
	align-items: center;
}
.column {
	float: left;
	width: 25%;
	padding: 5px;
  } 
*/

/** Site footer */
.site-footer { border-top: 1px solid #e8e8e8; padding: 15px 0; }

.footer-row { border:dashed 1px #ffffff;
              margin-right: 0; }

.footer-heading { font-size: 18px; margin-bottom: 10px; }

.footer-contact { border:dashed 1px #ffffff;
	              width:calc(100% - (30px / 2)); 
				  font-size: 13px; 
	              float: left;
				  margin: 15px;
				  margin-bottom: 0; margin-top: 0;
				  padding: 0;}

.footer-row-logos { border:dashed 1px #ffffff;
	                display: flex;
	                flex-direction: row; 
	                flex-wrap: wrap; 
	                justify-content: space-between;
				    align-self: flex-end}

.footer-logos { border:dashed 1px #ffffff; 
	            max-width: 120px; 
	            padding: 0px; 
				align-self: flex-end;}

.footer-logo-images {border:dashed 1px #ffffff;
	                 max-width: 100%;  }