---
title: Publications
layout: page
---

<section class="list">
	{% if site.categories.publications.size == 0 %}
		<p class="text-center tint_green_heading_3">No Publications Yet!</p>
	{% else %}
  {% assign articles = site.categories.publications | where: "type","Article" %}
  {% assign monographs = site.categories.publications | where: "type","Monograph" %}
  {% assign editedVolumes = site.categories.publications | where: "type","Edited Volume" %}
  {% assign conferencePresentation = site.categories.publications | where: "type","Conference Presentation" %}

  {% if articles.size > 0 %}
  <p class="tint_green_heading_2">Articles</p>
	{% for post in articles  %}
			{% include publication.html %}
	{% endfor %}
  <br>
  {% endif %}

  {% if monographs.size > 0 %}
  <p class="tint_green_heading_2">Monographs</p>
	{% for post in monographs  %}
			{% include publication.html %}
	{% endfor %}
  <br>
  {% endif %}

  {% if editedVolumes.size > 0 %}
  <p class="tint_green_heading_2">Edited Volumes</p>
  {% for post in editedVolumes  %}
      {% include publication.html %}
  {% endfor %}
  <br>
  {% endif %}


  {% if conferencePresentation.size > 0 %}
  <p class="tint_green_heading_2">Conference Presentations</p>
  {% for post in conferencePresentation  %}
      {% include publication.html %}
  {% endfor %}
  <br>
  {% endif %}

	{% endif %}
</section>
